@import url("left.css");
@import url("center.css");
@import url("right.css");
@import url("calendar.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

html, body {
    height: 100%;}

body {
    font-family: Georgia, serif;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    margin: 0;
    padding: 1.5vh;
    background: linear-gradient(135deg, #223051, #0A0A2A);
    color: #DAD9FF;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
    box-sizing: border-box;}
/* ---------------------------------------- Звёзды ---------------------------------- */
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
    background: transparent;
    z-index: 1;}

    .star {
        position: absolute;
        border-radius: 100%;
        animation: twinkle 3s ease-in-out infinite alternate;
        min-width: 0.2vw;
        min-height: 0.2vw;
        background: white;}

    @keyframes twinkle {
        0% { opacity: 0.2vw; transform: scale(0.7); }
        100% { opacity: 1vw; transform: scale(1.9); }}

/* ---------------------------------------- База ---------------------------------- */
.app-container {
    width: 100%;
    height: auto;
    min-height: 500px;
    padding: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3vw #00000081;
    box-sizing: border-box;
    border-radius: 3vh;
    gap: 3vh;
    z-index: 2;}

        @media (max-width: 768px) {
        .app-container {
            flex-direction: column;
            align-items: center;}}

    .left-container,
    .right-container,
    .center-container{
        width: calc(90% - 4vw);
        height: calc(90% - 4vw);
        flex: 1 1 300px;
        max-width: 400px;
        min-width: 20vw;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        z-index: 3;
    }

/* ---------------------------------------- Подвал ---------------------------------- */
* {box-sizing: border-box;}

footer {
    background: #0a0a2a38;
    height: 1vw;
    min-height: 50px;
    width: 100%;
    display: flex;
    position: center;
    z-index: 0;
    gap: 15px;
    margin-right: 2vw;
    border-radius: 3vh;}

.responsive-icon {
    height: 90%; 
}

.null-box {
    height: 90%;
}